.google-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4285f4;
  color: white;
  font-weight: 500;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  text-decoration: none;
  width: 100%;
  transition: background 0.3s ease;
}

.google-login-button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.google-login-button:hover {
  background-color: #3367d6;
}
